@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
    font-family: 'Inter', sans-serif;
}

.newsreader {
    font-family: 'Newsreader', serif;
}

.shadows {
    font-family: 'Shadows Into Light', cursive;
}